<h1> Belajar Pengembangan Machine Learning </h1>
<h3> Proyek Pertama : Membuat Model NLP dengan TensorFlow </h3>

Nama : Fatihah Rahmadayana

Dataset Source : https://www.kaggle.com/agustrinaldo/nlp-emotion-text-dataset-bahasa-indonesia

In [1]:
import pandas as pd
from google.colab import drive
from sklearn.model_selection import train_test_split
from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras.preprocessing.sequence import pad_sequences
import tensorflow as tf

drive.mount('/content/drive/')

Mounted at /content/drive/

In [2]:
pd.set_option('max_colwidth', 400)
data = pd.read_csv(r'/content/drive/My Drive/data/data.txt', error_bad_lines=False, delimiter=';', names=['text','emotions'])
data

                                                                                                                                        text     emotions
0                                                                                                                  saya tidak merasa terhina    kesedihan
1      saya bisa berubah dari merasa sangat putus asa menjadi sangat berharap hanya dari berada di sekitar seseorang yang peduli dan terjaga    kesedihan
2                                                                   saya mengambil waktu sebentar untuk memposting saya merasa serakah salah    kemarahan
3                                                   saya pernah merasa nostalgia tentang perapian saya akan tahu bahwa itu masih di properti        cinta
4                                                                                                                          saya merasa kesal    kemarahan
...                                                                                                                                      ...          ...
15995    saya hanya memiliki waktu yang sangat singkat di beanbag dan saya berkata kepada anna bahwa saya merasa seperti saya telah dipukuli    kesedihan
15996                    saya sekarang berbalik dan saya merasa menyedihkan bahwa saya masih menunggu meja dan subbing dengan gelar mengajar    kesedihan
15997                                                                                           saya merasa kuat dan baik secara keseluruhan  kegembiraan
15998                                                                     Saya merasa ini adalah komentar yang kasar dan saya senang bahwa t    kemarahan
15999                                                 saya tahu banyak tapi saya merasa sangat bodoh karena saya tidak bisa menggambarkannya    kesedihan

[16000 rows x 2 columns]

In [3]:
data = data[(data.emotions == 'kesedihan') | (data.emotions == 'kegembiraan') | (data.emotions == 'kemarahan') | (data.emotions == 'ketakutan') | (data.emotions == 'cinta')]
data.reset_index(inplace=True, drop=True)
data.head()

                                                                                                                                    text   emotions
0                                                                                                              saya tidak merasa terhina  kesedihan
1  saya bisa berubah dari merasa sangat putus asa menjadi sangat berharap hanya dari berada di sekitar seseorang yang peduli dan terjaga  kesedihan
2                                                               saya mengambil waktu sebentar untuk memposting saya merasa serakah salah  kemarahan
3                                               saya pernah merasa nostalgia tentang perapian saya akan tahu bahwa itu masih di properti      cinta
4                                                                                                                      saya merasa kesal  kemarahan

In [4]:
emotions = pd.get_dummies(data.emotions)
df = pd.concat([data, emotions], axis=1)
df = df.drop(columns='emotions')
df.head()

                                                                                                                                    text  ...  ketakutan
0                                                                                                              saya tidak merasa terhina  ...          0
1  saya bisa berubah dari merasa sangat putus asa menjadi sangat berharap hanya dari berada di sekitar seseorang yang peduli dan terjaga  ...          0
2                                                               saya mengambil waktu sebentar untuk memposting saya merasa serakah salah  ...          0
3                                               saya pernah merasa nostalgia tentang perapian saya akan tahu bahwa itu masih di properti  ...          0
4                                                                                                                      saya merasa kesal  ...          0

[5 rows x 6 columns]

In [5]:
X = df['text'].values
y = df[['cinta', 'kegembiraan', 'kemarahan', 'kesedihan', 'ketakutan']].values

In [6]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

tokenizer = Tokenizer(num_words = 5000, oov_token='x')
tokenizer.fit_on_texts(X_train) 
tokenizer.fit_on_texts(X_test)
train_sequences = tokenizer.texts_to_sequences(X_train)
test_sequences = tokenizer.texts_to_sequences(X_test)
train_padded = pad_sequences(train_sequences) 
test_padded = pad_sequences(test_sequences)

In [7]:
model = tf.keras.Sequential([
    tf.keras.layers.Embedding(input_dim = 5000, output_dim=16),
    tf.keras.layers.LSTM(64),
    tf.keras.layers.Dense(256, activation='relu'),
    tf.keras.layers.Dense(128, activation='relu'),
    tf.keras.layers.Dense(64, activation='relu'),
    tf.keras.layers.Dense(5, activation='softmax')
])
model.compile(loss='categorical_crossentropy', optimizer='adam', metrics=['accuracy'])

In [8]:
model.fit(train_padded, y_train, epochs=15, 
                    validation_data=(test_padded, y_test), verbose=1)

Epoch 1/15
381/381 [==============================] - 19s 43ms/step - loss: 1.3473 - accuracy: 0.3960 - val_loss: 1.1311 - val_accuracy: 0.5373
Epoch 2/15
381/381 [==============================] - 16s 42ms/step - loss: 0.9143 - accuracy: 0.6302 - val_loss: 0.9420 - val_accuracy: 0.6399
Epoch 3/15
381/381 [==============================] - 15s 41ms/step - loss: 0.6882 - accuracy: 0.7466 - val_loss: 0.8945 - val_accuracy: 0.6643
Epoch 4/15
381/381 [==============================] - 16s 41ms/step - loss: 0.5548 - accuracy: 0.8054 - val_loss: 0.8096 - val_accuracy: 0.7040
Epoch 5/15
381/381 [==============================] - 16s 42ms/step - loss: 0.4643 - accuracy: 0.8411 - val_loss: 0.8046 - val_accuracy: 0.7350
Epoch 6/15
381/381 [==============================] - 16s 41ms/step - loss: 0.3862 - accuracy: 0.8714 - val_loss: 0.7995 - val_accuracy: 0.7455
Epoch 7/15
381/381 [==============================] - 15s 41ms/step - loss: 0.3316 - accuracy: 0.8904 - val_loss: 0.7792 - val_accuracy: 0.7475
Epoch 8/15
381/381 [==============================] - 16s 41ms/step - loss: 0.2884 - accuracy: 0.9049 - val_loss: 0.8476 - val_accuracy: 0.7373
Epoch 9/15
381/381 [==============================] - 16s 41ms/step - loss: 0.2469 - accuracy: 0.9160 - val_loss: 0.8379 - val_accuracy: 0.7435
Epoch 10/15
381/381 [==============================] - 16s 41ms/step - loss: 0.2170 - accuracy: 0.9276 - val_loss: 0.9618 - val_accuracy: 0.7590
Epoch 11/15
381/381 [==============================] - 16s 41ms/step - loss: 0.1818 - accuracy: 0.9380 - val_loss: 0.9979 - val_accuracy: 0.7540
Epoch 12/15
381/381 [==============================] - 16s 41ms/step - loss: 0.1669 - accuracy: 0.9408 - val_loss: 1.1007 - val_accuracy: 0.7412
Epoch 13/15
381/381 [==============================] - 16s 41ms/step - loss: 0.1496 - accuracy: 0.9499 - val_loss: 1.1515 - val_accuracy: 0.7425
Epoch 14/15
381/381 [==============================] - 15s 41ms/step - loss: 0.1375 - accuracy: 0.9540 - val_loss: 1.1049 - val_accuracy: 0.7445
Epoch 15/15
381/381 [==============================] - 16s 41ms/step - loss: 0.1152 - accuracy: 0.9579 - val_loss: 1.2363 - val_accuracy: 0.7445