<h1> Belajar Pengembangan Machine Learning </h1>
<h3> Proyek Pertama : Membuat Model NLP dengan TensorFlow </h3>

Nama : Fatihah Rahmadayana

Dataset Source : https://www.kaggle.com/agustrinaldo/nlp-emotion-text-dataset-bahasa-indonesia

In [1]:
import pandas as pd
from google.colab import drive
from sklearn.model_selection import train_test_split
from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras.preprocessing.sequence import pad_sequences
import tensorflow as tf

drive.mount('/content/drive/')

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).

In [2]:
pd.set_option('max_colwidth', 400)
data = pd.read_csv(r'/content/drive/My Drive/data/data.txt', error_bad_lines=False, delimiter=';', names=['text','emotions'])
data

                                                                                                                                        text     emotions
0                                                                                                                  saya tidak merasa terhina    kesedihan
1      saya bisa berubah dari merasa sangat putus asa menjadi sangat berharap hanya dari berada di sekitar seseorang yang peduli dan terjaga    kesedihan
2                                                                   saya mengambil waktu sebentar untuk memposting saya merasa serakah salah    kemarahan
3                                                   saya pernah merasa nostalgia tentang perapian saya akan tahu bahwa itu masih di properti        cinta
4                                                                                                                          saya merasa kesal    kemarahan
...                                                                                                                                      ...          ...
15995    saya hanya memiliki waktu yang sangat singkat di beanbag dan saya berkata kepada anna bahwa saya merasa seperti saya telah dipukuli    kesedihan
15996                    saya sekarang berbalik dan saya merasa menyedihkan bahwa saya masih menunggu meja dan subbing dengan gelar mengajar    kesedihan
15997                                                                                           saya merasa kuat dan baik secara keseluruhan  kegembiraan
15998                                                                     Saya merasa ini adalah komentar yang kasar dan saya senang bahwa t    kemarahan
15999                                                 saya tahu banyak tapi saya merasa sangat bodoh karena saya tidak bisa menggambarkannya    kesedihan

[16000 rows x 2 columns]

In [23]:
data = data[(data.emotions == 'kesedihan') | (data.emotions == 'kegembiraan') | (data.emotions == 'kemarahan') | (data.emotions == 'ketakutan') | (data.emotions == 'cinta')]
data.reset_index(inplace=True, drop=True)
data.head()

                                                                                                                                    text   emotions
0                                                                                                              saya tidak merasa terhina  kesedihan
1  saya bisa berubah dari merasa sangat putus asa menjadi sangat berharap hanya dari berada di sekitar seseorang yang peduli dan terjaga  kesedihan
2                                                               saya mengambil waktu sebentar untuk memposting saya merasa serakah salah  kemarahan
3                                               saya pernah merasa nostalgia tentang perapian saya akan tahu bahwa itu masih di properti      cinta
4                                                                                                                      saya merasa kesal  kemarahan

In [24]:
emotions = pd.get_dummies(data.emotions)
df = pd.concat([data, emotions], axis=1)
df = df.drop(columns='emotions')
df.head()

                                                                                                                                    text  ...  ketakutan
0                                                                                                              saya tidak merasa terhina  ...          0
1  saya bisa berubah dari merasa sangat putus asa menjadi sangat berharap hanya dari berada di sekitar seseorang yang peduli dan terjaga  ...          0
2                                                               saya mengambil waktu sebentar untuk memposting saya merasa serakah salah  ...          0
3                                               saya pernah merasa nostalgia tentang perapian saya akan tahu bahwa itu masih di properti  ...          0
4                                                                                                                      saya merasa kesal  ...          0

[5 rows x 6 columns]

In [25]:
X = df['text'].values
y = df[['cinta', 'kegembiraan', 'kemarahan', 'kesedihan', 'ketakutan']].values

In [49]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

tokenizer = Tokenizer(num_words = 8000, oov_token='<OOV>')
tokenizer.fit_on_texts(X_train) 
train_sequences = tokenizer.texts_to_sequences(X_train)
test_sequences = tokenizer.texts_to_sequences(X_test)
train_padded = pad_sequences(train_sequences) 
test_padded = pad_sequences(test_sequences)

In [50]:
model = tf.keras.Sequential([
    tf.keras.layers.Embedding(input_dim = 8000, output_dim=32),
    tf.keras.layers.LSTM(64),
    tf.keras.layers.Dense(256, activation='relu'),
    tf.keras.layers.Dense(128, activation='relu'),
    tf.keras.layers.Dense(32, activation='relu'),
    tf.keras.layers.Dense(5, activation='softmax')
])
model.compile(loss='categorical_crossentropy', optimizer='adam', metrics=['accuracy'])

In [51]:
model.fit(train_padded, y_train, epochs=12, validation_data=(test_padded, y_test), verbose=1)

Epoch 1/12
381/381 [==============================] - 33s 81ms/step - loss: 1.3584 - accuracy: 0.3783 - val_loss: 1.1975 - val_accuracy: 0.4946
Epoch 2/12
381/381 [==============================] - 30s 80ms/step - loss: 0.9355 - accuracy: 0.6199 - val_loss: 0.8700 - val_accuracy: 0.6823
Epoch 3/12
381/381 [==============================] - 30s 80ms/step - loss: 0.6223 - accuracy: 0.7739 - val_loss: 0.7594 - val_accuracy: 0.7257
Epoch 4/12
381/381 [==============================] - 30s 80ms/step - loss: 0.4526 - accuracy: 0.8429 - val_loss: 0.8501 - val_accuracy: 0.7221
Epoch 5/12
381/381 [==============================] - 30s 79ms/step - loss: 0.3649 - accuracy: 0.8725 - val_loss: 0.8315 - val_accuracy: 0.7494
Epoch 6/12
381/381 [==============================] - 31s 81ms/step - loss: 0.2888 - accuracy: 0.9044 - val_loss: 0.9050 - val_accuracy: 0.7428
Epoch 7/12
381/381 [==============================] - 31s 80ms/step - loss: 0.2352 - accuracy: 0.9219 - val_loss: 0.9532 - val_accuracy: 0.7422
Epoch 8/12
381/381 [==============================] - 31s 81ms/step - loss: 0.1958 - accuracy: 0.9341 - val_loss: 0.9921 - val_accuracy: 0.7557
Epoch 9/12
381/381 [==============================] - 31s 80ms/step - loss: 0.1636 - accuracy: 0.9433 - val_loss: 1.0065 - val_accuracy: 0.7488
Epoch 10/12
381/381 [==============================] - 31s 80ms/step - loss: 0.1417 - accuracy: 0.9528 - val_loss: 1.0668 - val_accuracy: 0.7550
Epoch 11/12
381/381 [==============================] - 31s 81ms/step - loss: 0.1210 - accuracy: 0.9590 - val_loss: 1.2987 - val_accuracy: 0.7547
Epoch 12/12
381/381 [==============================] - 31s 80ms/step - loss: 0.1129 - accuracy: 0.9617 - val_loss: 1.2514 - val_accuracy: 0.7527